<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="orgWin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="ParsecMapping"  type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="None"/>
  </system.web>
  <appSettings>
    <!-- логин в Парсековский API -->
    <add key="domain" value=""/>
    <add key="user" value="api"/>
    <add key="password" value="123456"/>
    <!-- Парсековский GUID для контроллера, с которого ловить события -->
    <add key="turniket" value="{56475ce2-270e-4e60-9127-c6888d7a696e}"/>
    <!-- Парсековский GUID для корневой организации ("ИГиРГИ") структура которой в orgChart и ловится текущее состояние юзеров -->
    <add key="orgRoot" value="{dbafe6d5-6108-4130-bf4d-b7557252315c}"/>
  </appSettings>
  <connectionStrings>
    <add name="ParsecReport" connectionString="Data Source=1C-01.CORP.IGIRGI.SU;Initial Catalog=IGIRGI-BI;User id=DEV;Password=00010101;"/>
  </connectionStrings>
  <applicationSettings>
    <orgWin.Properties.Settings>
      <setting name="orgWin_IntegrationWebService_IntegrationService"
        serializeAs="String">
        <value>http://10.23.127.76:10101/IntegrationService/IntegrationService.asmx</value>
      </setting>
    </orgWin.Properties.Settings>
  </applicationSettings>
  <ParsecMapping>
    <add key="E-mail" value="mail"/>
    <add key="Мобильный телефон" value="mob"/>
    <add key="День рождения" value="birthday"/>
    <add key="Корпоративный телефон" value="corp"/>
    <add key="Должность" value="title" />
  </ParsecMapping>  
  
</configuration>